#drag {
    position:absolute;
    width:100px;
    height:100px;
    background-color: blue;
}
.buildTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
}
.rect {
    width:100px;
    height:50px;
    background-color:blue;
}