.wheel {
    margin-bottom:50%;
    margin-top:5%;
    display:flex;
    justify-content:space-around;
}

.wheel > * {
    display: none;
    left: 0;
}
.wheel img {
    width:400px;
    height:400px;
    border-radius: 30px;
}

.wheel > .left,
.wheel > .center,
.wheel > .right {
    display: initial;
    position: absolute;
}

.wheel > .left {
    animation: left 1s both;
}

.wheel > .center {
    animation: center 1s both;
}

.wheel > .right {
    animation: right 1s both;
}

@keyframes left {
    from {
        left: 90%;
    }
    to {
        left: 0%;
    }
}
@keyframes center {
    from {
        left: 0%;
    }
    to {
        left: 40%;
    }
}
@keyframes right {
    from {
        left: 50%;
    }
    to {
        left: 80%;
    }
}