.titleSlide { /* All styles for the first slide of the website*/
    position:fixed;
    height:100%;
    width:100%;
    display:block;
}

hgroup{ /* centering things in the hgroup and adding a border to them*/
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 30px;
    border-bottom: rgba(21, 110, 135, 0.589) 10px solid;
    border-top: rgb(7, 108, 133) 10px solid;
    width: fit-content;
}
hgroup > p {
    max-width: 40%;
    min-width: 300px;
}

.slide-container {
    position: sticky;
    top: 0;
}

.slide {
    height:100vh;
    width:100vw;
    z-index: 1;
}

.slide-0 {
    /* height:100vh; */
    background-image: url(../backgroundImages/indexBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.slide-1 {
    background-color:white;
    /* top: 100vh; */
}

.slide-2 {
    background-color:rgb(0, 0, 0);
    /* top: 200vh; */
}

.slide-3 {
    background-color: blue;
}
/* potential solution:wait until it reaches top of screen then set it to fixed*/
