body {
    margin: 0;
}

.evenSpacing {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navBar {
    position:sticky;
    margin: 1rem;
    padding-top:30px;
    padding-bottom:30px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(90, 115, 54);
    
}
.navButton {
    color:rgb(215, 242, 119);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
}

.navButton:hover{
    background-color:black;
}


@keyframes buttonHover{
    from {
        margin:0%;
    }
    to {
        margin:100%;
    }
}

.centered {
    align-self: center; 
    margin: 1vh;
}
