body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.evenSpacing {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navBar {
    position:sticky;
    margin: 1rem;
    padding-top:30px;
    padding-bottom:30px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(146, 178, 32);
    border-radius:30px;
}
.navButton {
    color:rgb(90, 115, 54);
    font-size:x-large;
}
.animated-underline::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(90, 115, 54);
    transition: width .75s;
  }
  
.animated-underline:hover::after {
    width: 100%;
  }

.animated-underline:hover:after {
    width:100%;

}

.centered {
    align-self: center; 
    margin: 1vh;
}

a {
    text-decoration:none;
}

.slide-container {
    position: sticky;
    top: 0;
}

.slide {
    height:100vh;
    width:100vw;
    z-index: 1;
    display:grid;
}
.slide-title {
    position:relative;
    height:60px;
    top:20px;
    justify-self:center;
    padding:10px;
    border-left: rgba(21, 110, 135, 0.589) 1rem solid;
    border-right: rgba(21, 110, 135, 0.589) 1rem solid;
    border-radius:30px;
}
.slideSpacing {
    padding-bottom: 20px;
    display:grid;
    justify-content:center;
}
.link {
    width:fit-content;
    height:fit-content;
    justify-self: center;
    background-color:rgb(146, 178, 32);
    border-radius:4px;
    padding:5px;
    text-decoration: none;
}
.slideImage{
    width:500px;
    height:500px;
    border-radius: 30px;
    position:relative;
    justify-self:center;
}
#whiteBackground {
    background-color: white;
}
hgroup{ /* centering things in the hgroup and adding a border to them*/
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 30px;
    border-bottom: rgba(21, 110, 135, 0.589) 10px solid;
    border-top: rgb(7, 108, 133) 10px solid;
    width: fit-content;
}
hgroup > p {
    max-width: 40%;
    min-width: 300px;
}
