body {
    margin:0;
}

.evenSpacing {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navBar {
    position:sticky;
    z-index:top;
    
}
